@import url("./github-markdown.css");
@import url("rickshaw/rickshaw.css");

$colorBlue500: #2196f3;
$colorGray200: #eeeeee;
$colorGray300: #e0e0e0;
$colorRedA200: #ff5252;

@define-mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
}

table.props th {
  width: 192px;
  font-weight: normal;
  color: #9E9E9E;
  text-align: left;
}

.metadataForm {
  .metadataForm-actions {
    margin-top: 4rem;
    text-align: center;
  }
}

/* 共通 */
.page {
  margin: 32px;
}

/* module系 */
$moduleCardsMargin: 16px;

.page.pageModules {
  margin: 0;

  .pageModules-tabs {
    background: #fff;
    border-bottom: 1px solid $colorGray300;

    .pageModules-tab {
      border-bottom: 2px solid transparent;
      display: inline-block;

      &.is-active {
        border-bottom-color: $colorBlue500;
      }

      &:first-child {
        margin-left: 28px;
      }
    }
  }

  .inputTextField {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  }
}

.tabs {
  .tab {
    margin: 32px;
  }
}

.moduleCardsTab {
  .moduleCardsTab-timeRanges {
    background: $colorGray200;
    padding-left: 20px;

    .moduleCardsTab-timeRange {
      border-bottom: 2px solid transparent;
      display: inline-block;

      &.is-active {
        border-bottom-color: $colorRedA200;
      }
    }
  }
}

.moduleCards {
  @mixin clearfix;

  margin: 16px 0 0 0;

  .moduleCard {
    margin-bottom: $moduleCardsMargin;
    padding: 12px 0 0 0;

    .graph {
      margin-right: 16px;
    }
  }

  &.moduleCards-col2 {
    .moduleCard {
      float: left;
      width: calc(50% - $moduleCardsMargin / 2);
      margin-right: $moduleCardsMargin;
    }
    .moduleCard:nth-child(even) {
      margin-right: 0;
    }
  }
}


/* moduelのgraph */
$graphWidth: 200px;
$graphHeight: 200px;
$graphYAxisWidth: 40px;

.graph {
  position: relative;
  min-width: calc($graphWidth + $graphYAxisWidth);
  min-height: $graphHeight;

  .graph-yAxis {
    position: absolute;
    width: $graphYAxisWidth;
    height: 100%;
  }

  .graph-chart {
    margin-left: $graphYAxisWidth;
    min-width: $graphYAxisWidth;
    min-height: $graphHeight;

    border: 1px solid #f0f0f0;
  }

  .graph-preview {
    margin-left: $graphYAxisWidth;
    min-height: 40px;
  }

  .graph-legend {
    margin: 8px 0 0 40px;

    &.rickshaw_legend {
      display: block;
      padding: 4px;

      .line {
        display: inline-block;
      }
    }
  }

  .graph-loadingIndicator {
    margin: 0 auto 0;
    top: 40px !important;
    left: 0 !important;
    transform: translate(0, 40px) !important;
    display: block !important;
  }

  &.is-loading {
    .graph-yAxis, .graph-chart, .graph-preview, .graph-legend {
      display: none;
    }
  }
}
