@import url("./github-markdown.css");

body {
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
}

table.props th {
  width: 192px;
  font-weight: normal;
  color: #9E9E9E;
  text-align: left;
}

.metadataForm {
  .metadataForm-actions {
    margin-top: 4rem;
    text-align: center;
  }
}
