{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "transform-function-bind",
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry"
      }
    ],
    "@babel/preset-react"
  ]
}
