{
  "presets": ["react", "es2015", "stage-1"],
  "plugins": [
    "transform-function-bind",
    ["module-resolver", {
      "root": ["./circle_core/web/src"],
      "alias": {
        "src": "./circle_core/web/src/js",
      }
    }]
  ],
  "env": {
    "development": {
      "presets": [
        "power-assert"
      ]
    }
  }
}
