# circle_coreの基本情報
[circle_core]
# 省略可, uuidを指定する場合に使う。　autoの場合は自動生成
uuid = auto
# crcrのデータを保存するディレクトリ
prefix = ./cc_dev
# metadataを保存するファイルのパス
metadata_file_path = ${prefix}/metadata.sqlite
# metadata変更ログを保存するファイルのパス
log_file_path = ${prefix}/core.log
# nanomsgのメッセージが流通するHubのSocket
hub_socket = ipc:///tmp/crcr_hub.ipc
# nanomsgへのリクエストを受け付けるSoket
request_socket = ipc:///tmp/crcr_request.ipc
# messageを保存する先のURL
db = mysql+mysqlconnector://crcr_dev:crcr@localhost/crcr_dev
# グラフ用DBを保存するディレクトリ
time_db_dir = ${prefix}

# websocket, admin uiのモジュール
[circle_core:http]
# アドレス
listen = 127.0.0.1
# 共用のポート websocket_port/admin_portが設定されている場合は無視される
port = 8080
# websocketを使用するか
websocket = on
# websocketのポート
; websocket_port = 8080
# admin uiを使用するか
admin = on
# admin uiのアドレス
; admin_port = 8080
# admin uiのURL
admin_base_url = http://${listen}:${port}
# 起動時にadmin uiのスクリプトファイルの自動ビルドをスキップするか
skip_build = off
# httpsで起動する場合に設定
tls_key_path = ./tests/tls.key
tls_crt_path = ./tests/tls.crt
